/SynomymExtractor/.idea/.name
/SynomymExtractor/.idea/compiler.xml
/SynomymExtractor/.idea/copyright/profiles_settings.xml
/SynomymExtractor/.idea/encodings.xml
/SynomymExtractor/.idea/gradle.xml
/SynomymExtractor/.idea/libraries/Maven__net_sf_jwordnet_jwnl_1_3_3.xml
/SynomymExtractor/.idea/libraries/Maven__org_apache_opennlp_opennlp_maxent_3_0_3.xml
/SynomymExtractor/.idea/libraries/Maven__org_apache_opennlp_opennlp_tools_1_5_3.xml
/SynomymExtractor/.idea/libraries/Maven__postgresql_postgresql_9_1_901_jdbc4.xml
/SynomymExtractor/.idea/misc.xml
/SynomymExtractor/.idea/modules.xml
/SynomymExtractor/.idea/scopes/scope_settings.xml
/SynomymExtractor/.idea/uiDesigner.xml
/SynomymExtractor/.idea/vcs.xml
/SynomymExtractor/.idea/workspace.xml
/SynomymExtractor/target/classes/SynonymExtractor.class
/SynomymExtractor/target/classes/database/DBConnection.class
/SynomymExtractor/target/classes/model/Model.class
/SynomymExtractor/target/classes/model/POSTagger.class
/SynomymExtractor/target/classes/model/SentenceDetector.class
/SynomymExtractor/target/classes/model/Tokenizer.class
